<!-- Start Embeded Gallery Area -->
<% if !@gallery.gallery_images.blank? %>
    <div id="dgwGalleryIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-inner">
            <% @gallery.gallery_images.each_with_index do |gi, idx| %>
                <div  data-bs-interval="5000" class="carousel-item <%= (idx == 0)? "active" : nil %>">
                    <figure>
                        <%= image_tag gi.image.variant(resize_to_fill: [900, 500]), class: "img-fluid border-radius-xl" %>
                    </figure>
                    <figcaption class="blockquote-footer text-center">
                        <%= gi.caption %>
                    </figcaption>
                </div>
            <% end %>
        </div>
    </div>
<% else %>
    <div class="col-12 text-center">
        There Are No Slides to Display. Please add some.
    </div>
<% end %>
<!-- End Embeded Gallery Area -->
